
/* App wide css */
p {text-align: center;}
h2 {text-align: center;}
div{text-align: center;}

#displayBox {
    width: 300px;
    border: 10px solid green;
    padding: 0px;
    margin: 5px;
}

#box {
    width: 300px;
    border: 10px solid rgb(206, 110, 33);
    padding: 10px;
    margin: 5px;
}

#createBox {
    width: 300px;
    border: 10px solid rgb(206, 110, 33);
    padding: 10px;
    margin: 5px;
}